<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
	<head>
	{{ partial "head.html" . }}
	</head>

	<body>
		<div class="wrapper">
			{{ if .IsHome }}
				{{ partial "header.html" . }}
			{{ else }}
				{{ partial "header-plain.html" . }}
			{{ end }}

			<main class="main" role="region" aria-labelledby="main-content">
				{{ block "main" . }}{{ end }}
			</main>

			{{ partial "footer.html" . }}
		</div><!-- /.wrapper -->
	</body>
</html>
