{{ define "main" }}
	<div class="hero" role="region" aria-labelledby="hero-heading">
		<div class="shell">
			<picture class="hero__background">
				{{ $image := resources.GetMatch "images/hero.jpg" }}
				{{ with $image }}
					<img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="Hero background">
				{{ end }}
			</picture>

			<div class="hero__inner">
				<h1 id="hero-heading">Deliver Faster Websites with Akamai EdgeWorkers</h1>

				<div class="hero__entry">
					<p>Run code on the most distributed edge compute platform in the world to cut down latency, speed up response times, improve performance, and deliver a better user experience.</p>

					{{ $partnerLogo := resources.GetMatch "images/logo-linode.png" }}
					{{ with $partnerLogo }}
						<a href="https://www.linode.com/?&utm_source=edgecomputelive&utm_content=poweredbylinode" target="_blank">
							Powered by &nbsp;
							<img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="Logo linode">
						</a>
					{{ end }}
				</div><!-- /.hero__entry -->

				{{ $examplesURL := site.GetPage "section" "examples" }}
				<a href="{{ $examplesURL.RelPermalink }}" class="btn">More Code Examples</a><!-- /.btn -->
			</div><!-- /.hero__inner -->
		</div><!-- /.shell -->
	</div><!-- /.hero -->

	<section class="section-benefits bg--light-blue" role="region" aria-label="Benefits">
		<div class="shell">
			<div class="boxes-benefits">
				<div class="grid">
					<div class="grid__col grid__col--1of2">
						<div class="box-benefits">
							<div class="box__head">
								<h3>EdgeWorkers <br> <em>Benefits</em></h3>

								<p>Create functions at the edge on the largest distributed serverless network.</p>
							</div><!-- /.box__head -->

							<div class="box__body">
								<div class="box__info">
									<ul>
										<li>
											<span class="box__icon">
												{{ with $image := resources.GetMatch "images/icon-rocket.svg" }}<img src="{{ $image.RelPermalink }}" alt="Icon Rocket">{{ end }}
											</span><!-- /.box__icon -->

											<div>
												<h5>Deploy faster and <em>more efficient applications</em></h5>
												<p>Write and execute custom code at the edge, reducing latency and improving response times.</p>
											</div>
										</li>

										<li>
											<span class="box__icon">
												{{ with $image := resources.GetMatch "images/icon-book.svg" }}<img src="{{ $image.RelPermalink }}" alt="Icon Book">{{ end }}
											</span><!-- /.box__icon -->

											<div>
												<h5><em>Enhance user experience</em> with dynamic content </h5>
												<p>Personalize content delivery and manage traffic efficiently right at the edge.</p>
											</div>
										</li>

										<li>
											<span class="box__icon">
												{{ with $image := resources.GetMatch "images/icon-shield.svg" }}<img src="{{ $image.RelPermalink }}" alt="Icon Shield">{{ end }}
											</span><!-- /.box__icon -->

											<div>
												<h5>Ensure <em>high availability and security</em> Leverage</h5>
												<p>Akamai’s robust platform to scale your applications seamlessly and securely.</p>
											</div>
										</li>
									</ul>
								</div><!-- /.box__info -->
							</div><!-- /.box__body -->
						</div><!-- /.box-benefits -->
					</div><!-- /.grid__col grid__col--1of2 -->

					<div class="grid__col grid__col--1of2">
						<div class="box-benefits box--blue">
							<div class="box__head">
								<h3>EdgeKV <br> <em>Benefits</em></h3>

								<p>Supercharge your EdgeWorkers apps with a serverless key-value store.</p>
							</div><!-- /.box__head -->

							<div class="box__body">
								<div class="box__info">
									<ul>
										<li>
											<span class="box__icon">
												{{ with $image := resources.GetMatch "images/icon-squares.svg" }}<img src="{{ $image.RelPermalink }}" alt="Icon squares">{{ end }}
											</span><!-- /.box__icon -->

											<div>
												<h5><em>Bring data close</em> to users</h5>
												<p>Store and access data at the edge to enhance application performance and reduce latency.</p>
											</div>
										</li>

										<li>
											<span class="box__icon">
												{{ with $image := resources.GetMatch "images/icon-data.svg" }}<img src="{{ $image.RelPermalink }}" alt="Icon data">{{ end }}
											</span><!-- /.box__icon -->

											<div>
												<h5><em>Access data</em> instantly</h5>
												<p>Achieve low-latency data reads and writes with a distributed key-value store.</p>
											</div>
										</li>

										<li>
											<span class="box__icon">
												{{ with $image := resources.GetMatch "images/icon-db.svg" }}<img src="{{ $image.RelPermalink }}" alt="Icon database">{{ end }}
											</span><!-- /.box__icon -->

											<div>
												<h5><em>Simplify data</em> management</h5>
												<p>Use a straightforward key-value store without the complexity of traditional databases.</p>
											</div>
										</li>
									</ul>
								</div><!-- /.box__info -->
							</div><!-- /.box__body -->
						</div><!-- /.box-benefits -->
					</div><!-- /.grid__col grid__col--1of2 -->
				</div><!-- /.grid -->
			</div><!-- /.boxes-benefits -->
		</div><!-- /.shell -->
	</section><!-- /.section- -->

	<section class="section-features" role="region" aria-labelledby="features-heading">
		<div class="shell">
			<header class="section__head">
				<h2 id="features-heading">Feature Benefits</h2>
			</header><!-- /.section__head -->

			<div class="section__body">
				<div class="features">
					<div class="grid">
						<div class="grid__col grid__col--1of4">
							<div class="feature">
								<div class="feature__head">
									<span class="feature__icon">
										{{ with $image := resources.GetMatch "images/icon-command-line.svg" }}<img src="{{ $image.RelPermalink }}" alt="Icon command-line">{{ end }}
									</span><!-- /.feature__icon -->

									<h5>Command-line interface</h5>
								</div><!-- /.feature__head -->

								<div class="feature__entry">
									<p>Simplify daily operations by managing EdgeKV database tasks directly from a customizable CLI.</p>
								</div><!-- /.feature__entry -->
							</div><!-- /.feature -->
						</div><!-- /.grid__col grid__col--1of4 -->

						<div class="grid__col grid__col--1of4">
							<div class="feature">
								<div class="feature__head">
									<span class="feature__icon">
										{{ with $image := resources.GetMatch "images/icon-proximity.svg" }}<img src="{{ $image.RelPermalink }}" alt="Icon proximity">{{ end }}
									</span><!-- /.feature__icon -->

									<h5>Proximity advantage</h5>
								</div><!-- /.feature__head -->

								<div class="feature__entry">
									<p>Utilize the world’s most expansive edge platform to bring your compute processes closer to your users for unmatched performance.</p>
								</div><!-- /.feature__entry -->
							</div><!-- /.feature -->
						</div><!-- /.grid__col grid__col--1of4 -->

						<div class="grid__col grid__col--1of4">
							<div class="feature">
								<div class="feature__head">
									<span class="feature__icon">
										{{ with $image := resources.GetMatch "images/icon-data-reverse.svg" }}<img src="{{ $image.RelPermalink }}" alt="Icon data">{{ end }}
									</span><!-- /.feature__icon -->

									<h5>Localized data access</h5>
								</div><!-- /.feature__head -->

								<div class="feature__entry">
									<p>Gain instant access to data at the edge with Akamai EdgeKV, reducing latency and improving speed.</p>
								</div><!-- /.feature__entry -->
							</div><!-- /.feature -->
						</div><!-- /.grid__col grid__col--1of4 -->

						<div class="grid__col grid__col--1of4">
							<div class="feature">
								<div class="feature__head">
									<span class="feature__icon">
										{{ with $image := resources.GetMatch "images/icon-scaling.svg" }}<img src="{{ $image.RelPermalink }}" alt="Icon scaling">{{ end }}
									</span><!-- /.feature__icon -->

									<h5>Seamless scaling</h5>
								</div><!-- /.feature__head -->

								<div class="feature__entry">
									<p>Effortlessly scale your applications to handle growing traffic and high-demand periods without manual intervention.</p>
								</div><!-- /.feature__entry -->
							</div><!-- /.feature -->
						</div><!-- /.grid__col grid__col--1of4 -->

						<div class="grid__col grid__col--1of4">
							<div class="feature">
								<div class="feature__head">
									<span class="feature__icon">
										{{ with $image := resources.GetMatch "images/icon-timer.svg" }}<img src="{{ $image.RelPermalink }}" alt="Icon timer">{{ end }}
									</span><!-- /.feature__icon -->

									<h5>Rapid cold starts</h5>
								</div><!-- /.feature__head -->

								<div class="feature__entry">
									<p>Deploy code on demand with near-instant cold start times, powered by advanced V8 isolates.</p>
								</div><!-- /.feature__entry -->
							</div><!-- /.feature -->
						</div><!-- /.grid__col grid__col--1of4 -->

						<div class="grid__col grid__col--1of4">
							<div class="feature">
								<div class="feature__head">
									<span class="feature__icon">
										{{ with $image := resources.GetMatch "images/icon-arrows.svg" }}<img src="{{ $image.RelPermalink }}" alt="Icon arrows">{{ end }}
									</span><!-- /.feature__icon -->

									<h5>Unified platform flexibility</h5>
								</div><!-- /.feature__head -->

								<div class="feature__entry">
									<p>Integrate a single serverless compute solution across diverse cloud environments for streamlined operations.</p>
								</div><!-- /.feature__entry -->
							</div><!-- /.feature -->
						</div><!-- /.grid__col grid__col--1of4 -->

						<div class="grid__col grid__col--1of4">
							<div class="feature">
								<div class="feature__head">
									<span class="feature__icon">
										{{ with $image := resources.GetMatch "images/icon-storage.svg" }}<img src="{{ $image.RelPermalink }}" alt="Icon storage">{{ end }}
									</span><!-- /.feature__icon -->

									<h5>Versatile data storage</h5>
								</div><!-- /.feature__head -->

								<div class="feature__entry">
									<p>Store your data efficiently in either string or JSON formats, tailored to your application needs.</p>
								</div><!-- /.feature__entry -->
							</div><!-- /.feature -->
						</div><!-- /.grid__col grid__col--1of4 -->

						<div class="grid__col grid__col--1of4">
							<div class="feature">
								<div class="feature__head">
									<span class="feature__icon">
										{{ with $image := resources.GetMatch "images/icon-data-security.svg" }}<img src="{{ $image.RelPermalink }}" alt="Icon data security">{{ end }}
									</span><!-- /.feature__icon -->

									<h5>Secure data access</h5>
								</div><!-- /.feature__head -->

								<div class="feature__entry">
									<p>Implement robust role-based access controls to secure your EdgeKV databases effectively.</p>
								</div><!-- /.feature__entry -->
							</div><!-- /.feature -->
						</div><!-- /.grid__col grid__col--1of4 -->
					</div><!-- /.grid -->
				</div><!-- /.features -->
			</div><!-- /.section__body -->
		</div><!-- /.shell -->
	</section><!-- /.section- -->

	<section class="section-banner" role="region" aria-labelledby="banner-heading">
		<div class="shell">
			<picture class="section__background">
				{{ with $image := resources.GetMatch "images/banner-bg.jpg" }}<img src="{{ $image.RelPermalink }}" alt="Banner background">{{ end }}
			</picture>

			<div class="section__inner">
				<div class="section__content">
					<div class="section__entry">
						<h2 id="banner-heading">Discover How EdgeWorkers Work</h2>

						<p>See how Akamai's EdgeWorkers enable faster, more efficient web applications by running code at the edge.</p>
					</div><!-- /.section__entry -->

					<a href="https://www.youtube.com/watch?v=eEIacL_P-Oc" class="btn-play" data-magnific-popup="iframe">
						<figure>
							{{ with $image := resources.GetMatch "images/icon-play.svg" }}<img src="{{ $image.RelPermalink }}" alt="Icon play">{{ end }}
						</figure>

						<span>Watch Now</span>
					</a><!-- /.btn-play -->
				</div><!-- /.section__content -->
			</div><!-- /.section__inner -->
		</div><!-- /.shell -->
	</section><!-- /.section- -->

	<section class="section-boxes bg--orange" role="region" aria-labelledby="boxes-heading">
		<div class="shell">
			<header class="section__head">
				<h2 id="boxes-heading">What are you looking to do?</h2>

				<div class="section__actions">
					<ul>
						<li>
							{{ $examplesURL := site.GetPage "section" "examples" }}
							<a href="{{ $examplesURL.RelPermalink }}" class="btn">More Code Examples</a><!-- /.btn -->
						</li>

						<li>
							<a href="https://techdocs.akamai.com/home?&utm_source=edgecomputelive&utm_content=readthedocs" class="btn btn--outline-black" target="_blank">Read The Docs</a><!-- /.btn -->
						</li>
					</ul>
				</div><!-- /.section__actions -->
			</header><!-- /.section__head -->

			<div class="section__body">
				<div class="boxes">
					<div class="grid">
						<div class="grid__col grid__col--1of3">
							<a href="./categories/performance" class="box">
								<div class="box__inner">
									<h5>Accelerate API Responses</h5>

									<span class="box__btn">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M18 8L22 12L18 16" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M2 12H22" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</span><!-- /.box__btn -->
								</div><!-- /.box__inner -->
							</a><!-- /.box -->
						</div><!-- /.grid__col grid__col--1of3 -->

						<div class="grid__col grid__col--1of3">
							<a href="./categories/marketing" class="box">
								<div class="box__inner">
									<h5>Personalize User Experiences</h5>

									<span class="box__btn">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M18 8L22 12L18 16" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M2 12H22" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</span><!-- /.box__btn -->
								</div><!-- /.box__inner -->
							</a><!-- /.box -->
						</div><!-- /.grid__col grid__col--1of3 -->

						<div class="grid__col grid__col--1of3">
							<a href="./categories/performance" class="box">
								<div class="box__inner">
									<h5>Optimize Web Performance</h5>

									<span class="box__btn">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M18 8L22 12L18 16" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M2 12H22" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</span><!-- /.box__btn -->
								</div><!-- /.box__inner -->
							</a><!-- /.box -->
						</div><!-- /.grid__col grid__col--1of3 -->

						<div class="grid__col grid__col--1of3">
							<a href="./categories/security" class="box">
								<div class="box__inner">
									<h5>Enhance Security</h5>

									<span class="box__btn">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M18 8L22 12L18 16" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M2 12H22" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</span><!-- /.box__btn -->
								</div><!-- /.box__inner -->
							</a><!-- /.box -->
						</div><!-- /.grid__col grid__col--1of3 -->

						<div class="grid__col grid__col--1of3">
							<a href="./categories/developer-tools" class="box">
								<div class="box__inner">
									<h5>Implement Advanced Caching</h5>

									<span class="box__btn">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M18 8L22 12L18 16" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M2 12H22" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</span><!-- /.box__btn -->
								</div><!-- /.box__inner -->
							</a><!-- /.box -->
						</div><!-- /.grid__col grid__col--1of3 -->

						<div class="grid__col grid__col--1of3">
							<a href="./categories/traffic-routing" class="box">
								<div class="box__inner">
									<h5>Manage Traffic Efficiently</h5>

									<span class="box__btn">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M18 8L22 12L18 16" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M2 12H22" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</span><!-- /.box__btn -->
								</div><!-- /.box__inner -->
							</a><!-- /.box -->
						</div><!-- /.grid__col grid__col--1of3 -->

						<div class="grid__col grid__col--1of3">
							<a href="./categories/geolocation" class="box">
								<div class="box__inner">
									<h5>Localize Content Delivery</h5>

									<span class="box__btn">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M18 8L22 12L18 16" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M2 12H22" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</span><!-- /.box__btn -->
								</div><!-- /.box__inner -->
							</a><!-- /.box -->
						</div><!-- /.grid__col grid__col--1of3 -->

						<div class="grid__col grid__col--1of3">
							<a href="./categories/performance" class="box">
								<div class="box__inner">
									<h5>Reduce Server Load</h5>

									<span class="box__btn">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M18 8L22 12L18 16" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M2 12H22" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</span><!-- /.box__btn -->
								</div><!-- /.box__inner -->
							</a><!-- /.box -->
						</div><!-- /.grid__col grid__col--1of3 -->

						<div class="grid__col grid__col--1of3">
							<a href="./categories/developer-tools" class="box">
								<div class="box__inner">
									<h5>Integrate Third-Party Services</h5>

									<span class="box__btn">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M18 8L22 12L18 16" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M2 12H22" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</span><!-- /.box__btn -->
								</div><!-- /.box__inner -->
							</a><!-- /.box -->
						</div><!-- /.grid__col grid__col--1of3 -->
					</div><!-- /.grid -->
				</div><!-- /.boxes -->
			</div><!-- /.section__body -->
		</div><!-- /.shell -->
	</section><!-- /.section- -->

	<section class="section-boxes" role="region" aria-labelledby="examples-heading">
		<div class="shell">
			<header class="section__head">
				<h2 id="examples-heading">Featured Code Examples</h2>

				<div class="section__actions">
					<ul>
						<li>
							{{ $examplesURL := site.GetPage "section" "examples" }}
							<a href="{{ $examplesURL.RelPermalink }}" class="btn btn--outline-black">View More</a><!-- /.btn -->
						</li>
					</ul>
				</div><!-- /.section__actions -->
			</header><!-- /.section__head -->

			<div class="section__body">
				{{ partialCached "featured-cards.html" . }}
			</div><!-- /.section__body -->
		</div><!-- /.shell -->
	</section><!-- /.section- -->
{{ end }}
