<div class="card">
    <a href="{{ .RelPermalink }}"></a>

    <div class="card__head">
        <span class="card__icon">
			{{ $iconMap := dict
				"Developer Tools" "icon-command-line-small.svg"
				"Geolocation" "icon-geolocation-small.svg"
				"Ecommerce" "icon-squares-orange.svg"
				"Security" "icon-shield-small.svg"
				"Traffic Routing" "icon-arrows-small.svg"
				"Performance" "icon-timer-small.svg"
				"Miscellaneous" "icon-list-small.svg"
				"default" "icon-landscape-orange.svg"
			}}

			{{ $firstCategory := "" }}
            {{ if .Params.categories }}
                {{ $firstCategory = index .Params.categories 0 }}
            {{ end }}
            {{ $iconName := index $iconMap $firstCategory }}

            {{ if not $iconName }}
                {{ $iconName = index $iconMap "default" }}
            {{ end }}

            {{ with $image := resources.GetMatch (printf "images/%s" $iconName) }}
                <img src="{{ $image.RelPermalink }}" alt="Icon {{ .Params.title }}">
            {{ else }}
                <img src="{{ "images/icon-landscape.svg" | relURL }}" alt="Default Icon {{ .Params.title }}">
            {{ end }}
        </span><!-- /.card__icon -->

        <picture class="card__background">
            {{ with $image := resources.GetMatch "images/card-bg.png" }}<img src="{{ $image.RelPermalink }}" alt="Card background">{{ end }}
        </picture><!-- /.card__background -->
    </div><!-- /.card__head -->

    <div class="card__body">
        <div class="card__tags">
            <ul>
                {{ range .Params.categories }}
                <li>
                    <a href="/Akamai-Edge-Compute-Live/categories/{{ . | urlize }}" class="type-tag">{{ . }}</a>
                </li>
                {{ end }}
            </ul>
        </div><!-- /.card__tags -->

        <div class="card__entry">
            <h5>{{ .Params.title }}</h5>

            <p>{{ .Params.description | markdownify }}</p>
        </div><!-- /.card__entry -->

        <span class="btn btn--blue card__btn">View Case</span><!-- /.btn btn--blue card__btn -->
    </div><!-- /.card__body -->
</div><!-- /.card -->
