<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

{{ partialCached "head/css.html" . }}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

{{ $css := resources.Get "scss/main.scss" }}
{{ $css := $css | resources.ToCSS }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" type="text/css" media="all" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.2.0/magnific-popup.css" integrity="sha512-UhvuUthI9VM4N3ZJ5o1lZgj2zNtANzr3zyucuZZDy67BO6Ep5+rJN2PST7kPj+fOI7M/7wVeYaSaaAICmIQ4sQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{{ $baseURL := .Site.BaseURL }}
<link rel="shortcut icon" type="image/png" href="{{ $baseURL }}/icon-192x192.png">
<link rel="shortcut icon" sizes="192x192" href="{{ $baseURL }}/icon-192x192.png">
<link rel="apple-touch-icon" href="{{ $baseURL }}/icon-192x192.png">