/* ------------------------------------------------------------ *\
	.grid
\* ------------------------------------------------------------ */

.grid {
	display: flex;
	flex-flow: row wrap;
	--gap-x: 2.4rem;
	--gap-y: 2.4rem;
	margin: calc(((var(--gap-y, 0px) / 2) * -1)) calc(((var(--gap-x, 0px) / 2) * -1));

	.grid__col {
		flex: 1;
		padding: calc(var(--gap-y, 0px) / 2) calc(var(--gap-x, 0px) / 2);
	}

	.grid__col--1of2 {
		max-width: 50%;
		flex: 0 0 50%;
	}

	.grid__col--1of3 {
		flex: 0 0 33.33%;
		max-width: 33.33%;
	}

	.grid__col--1of4 {
		max-width: 25%;
		flex: 0 0 25%;
	}
}
