/* ------------------------------------------------------------ *\
	.section-listing
\* ------------------------------------------------------------ */

.section-listing {
	background-color: var(--c-white);
	padding: 6.4rem 0 8.8rem;

	.section__head {
		margin-bottom: 3rem;
	}
}
