/* ------------------------------------------------------------ *\
	.boxes
\* ------------------------------------------------------------ */

.boxes {
	.grid {
		.grid__col--1of3 {
			@include breakpoint-down(tablet) {
				flex: 0 0 50%;
				max-width: 50%;
			}

			@include breakpoint-down(mobile) {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
}