/* ------------------------------------------------------------ *\
	.box-preview
\* ------------------------------------------------------------ */

.box-preview {
	.box__head {
		padding: .8rem;
		background-color: rgba($color: #909090, $alpha: .1);

		p {
			background-color: var(--c-white);
			border-radius: .2rem;
			color: var(--c-black-2);
			font-size: 1.4rem;
			line-height: 1.14;
			padding: .8rem;
		}
	}

	.box__body {
		overflow-y: auto;
		padding: .8rem 1.6rem;
	}
}
