/* ------------------------------------------------------------ *\
	.section-single-post
\* ------------------------------------------------------------ */

.section-single-post {
	padding: calc(var(--header-height, 0px) + 8.8rem) 0 8.8rem;

	@include breakpoint-down(mobile) {
		padding: calc(var(--header-height, 0px) + 3.8rem) 0 3.8rem;
	}

	.section__inner {
		display: flex;
		justify-content: space-between;

		@include breakpoint-down(mobile) {
			flex-wrap: wrap;
		}
	}

	.section__aside {
		flex: 0 0 20.1rem;
		max-width: 20.1rem;
		border-right: 1px solid rgba($color: #909090, $alpha: 0.15);

		@include breakpoint-down(tablet) {
			flex: 0 0 12rem;
			max-width: 12rem;
		}

		@include breakpoint-down(mobile) {
			flex: 0 0 100%;
			max-width: 100%;
			border-bottom: 1px solid rgba($color: #909090, $alpha: 0.15);
			border-right: 0;
			padding-bottom: 2rem;
			margin-bottom: 2rem;
		}
	}

	.section__main {
		flex: 0 0 calc(100% - 20.1rem);
		max-width: calc(100% - 20.1rem);
		padding-left: 4.8rem;

		@include breakpoint-down(tablet) {
			flex: 0 0 calc(100% - 12rem);
			max-width: calc(100% - 12rem);
		}

		@include breakpoint-down(mobile) {
			padding-left: 0;
			max-width: 100%;
			flex: 0 0 100%;
		}
	}

	.section__nav {
		padding-top: 2.4rem;
		font-weight: 500;
		color: var(--c-black-2);

		p {
			text-transform: uppercase;
			margin-bottom: 1.6rem;
			font-size: 1.2rem;
			line-height: 1.33;
		}

		ul {
			list-style-type: none;

			li + li {
				margin-top: 1.6rem;
			}
		}

		a {
			text-decoration: none;
			display: inline-block;
			transition: opacity var(--t-duration);

			&:hover {
				@include breakpoint-up(tablet) {
					opacity: .4;
				}
			}
		}
	}

	iframe {
		max-width: 100%;
	}

	.section__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 3.2rem;
		border-bottom: 1px solid rgba($color: #909090, $alpha: 0.15);
		margin-bottom: 3.2rem;

		@include breakpoint-down(tablet) {
			flex-wrap: wrap;
			--gap-x: 0px;
			--gap-y: 2rem;
			margin: calc(((var(--gap-y, 0px) / 2) * -1)) calc(((var(--gap-x, 0px) / 2) * -1));
		}

		> * {
			@include breakpoint-down(tablet) {
				padding: calc(var(--gap-y, 0px) / 2) calc(var(--gap-x, 0px) / 2);
			}
		}
	}

	.section__body {
		padding-bottom: 8rem;

		@include breakpoint-down(tablet) {
			padding-bottom: 3rem;
		}
	}

	.section__outro {
		border-top: 1px solid rgba($color: #909090, $alpha: 0.15);
		padding: 4.8rem 0;

		@include breakpoint-down(mobile) {
			padding-bottom: 0;
		}

		.cards {
			.grid {
				.grid__col--1of3 {
					@include breakpoint-down(tablet) {
						flex: 0 0 50%;
						max-width: 50%;
					}

					@include breakpoint-down(mobile) {
						flex: 0 0 100%;
						max-width: 100%;
					}

					&:nth-child(3) {
						@include breakpoint-down(tablet) {
							display: none;
						}

						@include breakpoint-down(tablet) {
							display: block;
						}
					}
				}
			}
		}
	}

	.section__icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 12.8rem;
		flex: 0 0 12.8rem;
		height: 12.8rem;
		background-color: var(--c-orange-3);
		padding: 2.4rem;
		border-radius: 50%;
		overflow: hidden;
		margin-right: 2.4rem;

		@include breakpoint-down(mobile) {
			margin-bottom: .8rem;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}

	.section__banner {
		display: flex;

		@include breakpoint-down(mobile) {
			margin-right: 3rem;
			flex-wrap: wrap;
		}

		h2 {
			margin-bottom: .8rem;
			color: var(--c-black-2);
		}

		p {
			font-size: 1.6rem;
			line-height: 1.5;
		}
	}

	.section__tags {
		margin-bottom: .8rem;
		padding-top: .4rem;

		ul {
			list-style-type: none;
			display: flex;
			flex-wrap: wrap;
			--gap-x: .8rem;
			--gap-y: .4rem;
			margin: calc(((var(--gap-y, 0px) / 2) * -1)) calc(((var(--gap-x, 0px) / 2) * -1));
		}

		li {
			padding: calc(var(--gap-y, 0px) / 2) calc(var(--gap-x, 0px) / 2);
		}
	}

	.section__cta {
		.btn {
			font-size: 1.6rem;
			padding: 1.2rem 1.6rem;
			line-height: 1;
		}
	}

	.section__entry {
		margin-bottom: 5.4rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.tabs-code {
		margin-bottom: 5.6rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.features {
		margin-bottom: 5.6rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.section__cards {
		.section__cards-head {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 2.4rem;
			color: var(--c-black-2);

			@include breakpoint-down(mobile) {
				display: block;
				margin-bottom: 3.5rem;
			}

			h3 {
				margin-bottom: 0;

				@include breakpoint-down(mobile) {
					margin-bottom: 1.5rem;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		.card {
			background-color: #F8F9F9;
		}
	}
}
