/* ------------------------------------------------------------ *\
	.section-error
\* ------------------------------------------------------------ */

.section-error {
	padding: calc(6rem + var(--header-height, 0px)) 0 8rem;

	h1 {
		color: var(--c-black-2);
		margin-bottom: 2rem;
	}

	ul {
		margin-bottom: 4rem;
		margin-left: 2rem;
	}
}
