/* ------------------------------------------------------------ *\
	.section-intro
\* ------------------------------------------------------------ */

.section-intro {
	padding: calc(var(--header-height, 0px) + 4rem) 0 7.2rem;
	text-align: center;
	color: var(--c-black-2);
}
