/* ------------------------------------------------------------ *\
	.select
\* ------------------------------------------------------------ */

.select {
	position: relative;
	display: inline-block;
	width: 42.7rem;

	&:after {
		position: absolute;
		right: 1.6rem;
		top: 50%;
		height: 2rem;
		transform: translateY(-50%);
		content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQgNkw4IDEwTDEyIDYiIHN0cm9rZT0iIzI2MkEyRSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==');
		pointer-events: none;
	}

	select {
		width: 100%;
		border-radius: .4rem;
		border: 1px solid rgba($color: #909090, $alpha: .15);
		color: var(--c-black-2);
		font-size: 1.6rem;
		line-height: 1.5;
		padding: 1.2rem 4.8rem 1.2rem 1.6rem;
		appearance: none;
	}
}
