/* ------------------------------------------------------------ *\
	.tabs-code
\* ------------------------------------------------------------ */

.tabs-code {
	border-radius: .4rem;
	overflow: hidden;
	border: 1px solid rgba($color: #909090, $alpha: 0.15);
	margin-right: .7rem;
	position: relative;
	max-width: calc(100% - .7rem);

	&.copied {
		.tabs__info {
			opacity: 1;
		}
	}

	&.is-both {
		.tabs__body .tab {
			flex: 0 0 50%;
			max-width: 50%;
			width: 50%;

			@include breakpoint-down(tablet) {
				flex: 0 0 100%;
				max-width: 100%;
				width: 100%;
			}
		}
	}

	.tabs__head {
		background-color: var(--c-black-2);
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1.6rem;
		border-bottom: 1px solid rgba($color: #909090, $alpha: 0.15);
	}

	.tabs__nav {
		margin-right: 3rem;

		ul {
			list-style-type: none;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			--gap-x: .8rem;
			--gap-y: .8rem;
			margin: calc(((var(--gap-y, 0px) / 2) * -1)) calc(((var(--gap-x, 0px) / 2) * -1));
		}

		li {
			padding: calc(var(--gap-y, 0px) / 2) calc(var(--gap-x, 0px) / 2);
		}

		span {
			text-decoration: none;
			display: inline-block;
			padding: .8rem 1.6rem;
			font-size: 1.6rem;
			line-height: 1.5;
			color: var(--c-white);
			background-color: rgba($color: #fff, $alpha: 0.1);
			transition: color var(--t-duration), background-color var(--t-duration);
			border-radius: .2rem;
			cursor: pointer;

			&:hover {
				@include breakpoint-up(tablet) {
					background-color: var(--c-white);
					color: var(--c-black-2);
				}
			}
		}

		li.current span {
			background-color: var(--c-white);
			color: var(--c-black-2);
		}
	}

	.tabs__body {
		display: flex;

		@include breakpoint-down(tablet) {
			flex-wrap: wrap;
		}

		.tab {
			display: none;
			flex: 1;
			overflow-y: auto;
			height: 47.2rem;

			@include breakpoint-down(tablet) {
				height: auto;
				max-height: 30rem;
			}
		}

		.tab.current {
			display: block;
		}
	}

	.tabs__info {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		max-width: 23rem;
		height: auto;
		padding: 2rem 1.5rem;
		border-radius: .4rem;
		background-color: var(--c-white);
		transform: translate(-50%, -50%);
		text-align: center;
		font-weight: 50%;
		box-shadow: 0 .4rem .8rem -.2rem rgba($color: #073244, $alpha: .25);
		font-weight: 500;
		opacity: 0;
		transition: opacity .2s;
		pointer-events: none;
	}
}

.codeblock {
	background-color: var(--c-black-2);
	min-height: 100%;
	padding: .8rem 2.4rem;

	code {
		max-width: 100%;
		word-break: break-word;
	}
}
